version: "3.8"

services:
  frontend:
    build:
      context: ./src/frontend
      dockerfile: ./docker/${ENV}/Dockerfile
    image: ship-sale-frontend:${ENV}
    restart: unless-stopped
    ports:
      - "${FRONTEND_EXTERNAL_PORT:-80}:80"

  backend-main:
    build:
      context: ./src/backend-main
    image: ship-sale-backend
    restart: unless-stopped
    ports:
      - "${BACKEND_MAIN_EXTERNAL_PORT:-8000}:80"
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=${DB_DATABASE:-db}
      - DB_USERNAME=root
      - DB_PASSWORD=${DB_PASSWORD:-password}
    volumes:
      - mail_attachment:${SHARED_MAIL_ATTACHMENT_DIR}
    depends_on:
      - db
    networks:
      - app-network

  backend-mail:
    build:
      context: ./src/backend-mail
    image: ship-sale-mail
    restart: unless-stopped
    ports:
      - "${BACKEND_MAIL_EXTERNAL_PORT:-8001}:80"
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=${DB_DATABASE:-db}
      - DB_USER=root
      - DB_PASSWORD=${DB_PASSWORD:-password}
      - EMAIL_USERNAME=${EMAIL_USERNAME}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
      - IMAP_SERVER=${IMAP_SERVER}
      - IMAP_PORT=${IMAP_PORT}
      - SMTP_SERVER=${SMTP_SERVER}
      - SMTP_PORT=${SMTP_PORT}
      - ATTACHMENT_PATH=${SHARED_MAIL_ATTACHMENT_DIR}
      - MAIL_CHECK_INTERVAL=${MAIL_CHECK_INTERVAL}
      - CORS_ORIGINS=${CORS_ORIGINS}
      - LOG_LEVEL=${LOG_LEVEL}
    volumes:
      - mail_attachment:${SHARED_MAIL_ATTACHMENT_DIR}
    depends_on:
      - db
      - backend-main
    networks:
      - app-network

  db:
    image: mariadb:10
    restart: unless-stopped
    ports:
      - "${DB_EXTERNAL_PORT:-3306}:3306"
    environment:
      - MARIADB_ROOT_PASSWORD=${DB_PASSWORD:-password}
      - MARIADB_DATABASE=${DB_DATABASE:-db}
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "${DB_DATABASE:-db}",
          "-u",
          "root",
          "-p${DB_PASSWORD:-password}",
        ]
      interval: 5s
      timeout: 10s
      retries: 10
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

volumes:
  db_data:
  mail_attachment:

networks:
  app-network:
    driver: bridge
